<h5 class="d-flex align-items-center">
    <span class="mr-2">
        {{ film()?.title }} ({{ film()?.yearReleased }})
    </span>
    @if (isAdmin())
    {
        <div (click)="refreshMetadata()" class="pointer">
            <i class="pi pi-sync"></i>
        </div>
    }
</h5>

<small class="text-muted">{{ film()?.runtime }} mins | {{ film()?.tagline }}</small>
<br>
<small class="text-muted">{{ film()?.description }}</small>
<div class="d-flex">
    @if(filmId() != 0 && isAdmin())
    {
        <tfa-link [href]="'/createSource/' + filmId()" class="border border-black p-1 m-1 underline-hover">Create Source</tfa-link>
    }
    @for(source of film()?.sources; track source.sourceId)
    {
        <div 
            class="border border-black m-1 p-1 text-center source-card underline-hover"
            (click)="goToSource(source.sourceId)"
        >
            <small>
                Source {{source.type}}
            </small>
        </div>
    }
</div>
@if (film()?.backdropPath)
{
  <img
    style="height: auto;"
    [src]="backdropSrc()"
/>
}   